<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultItems</key>
	<array>
		<string>LogLin</string>
		<string>Clear</string>
		<string>Analyze</string>
        <string>NSToolbarPrintItem</string>
		<string>NSToolbarFlexibleSpaceItem</string>
		<string>NSToolbarCustomizeToolbarItem</string>
	</array>
	<key>Items</key>
	<dict>
		<key>LogLin</key>
		<dict>
			<key>Action</key>
			<string>logLin:</string>
			<key>Label</key>
			<string>Log/Lin</string>
			<key>ToolTip</key>
			<string>Toggle Log/Lin</string>
		</dict>
		<key>Clear</key>
		<dict>
			<key>Action</key>
			<string>clear:</string>
			<key>Label</key>
			<string>Clear</string>
			<key>ToolTip</key>
			<string>Clear Histogram</string>
		</dict>
		<key>Analyze</key>
		<dict>
			<key>Action</key>
			<string>doAnalysis:</string>
			<key>Label</key>
			<string>Analyze</string>
			<key>ToolTip</key>
			<string>Analyze ROI</string>
        </dict>

		<key>AutoScale</key>
		<dict>
			<key>Action</key>
			<string>autoScale:</string>
			<key>Label</key>
			<string>AutoScale</string>
			<key>ToolTip</key>
			<string>Auto Scale the Plot</string>
        </dict>
		<key>NSToolbarPrintItem</key>
		<dict/>
	</dict>
</dict>
</plist>
