<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockComment:End</key>
	<string>*/</string>
	<key>BlockComment:Start</key>
	<string>/*</string>
	<key>Identifiers1</key>
	<array>
		<string>else</string>
		<string>if</string>
		<string>unless</string>
		<string>do</string>
		<string>while</string>
		<string>for</string>
		<string>break</string>
		<string>continue</string>
		<string>switch</string>
		<string>case</string>
		<string>default</string>
		<string>start</string>
		<string>filter</string>
		<string>finish</string>
	</array>
	<key>Identifiers2</key>
	<array>
		<string>print</string>
		<string>printh</string>
		<string>array</string>
		<string>currentRecordIs</string>
		<string>extractRecordID</string>
		<string>extractRecordLen</string>
		<string>extractValue</string>
		<string>shipRecord</string>
		<string>push</string>
		<string>pop</string>
		<string>bottomPop</string>
		<string>dumpStack</string>
		<string>shipStack</string>
		<string>stackCount</string>
		<string>shipRecord</string>
		<string>histo1D</string>
		<string>histo2D</string>
		<string>timeChart</string>
		<string>resetDisplays</string>
		<string>display</string>
		<string>time</string>
		<string>random</string>
	</array>
	<key>Constants</key>
	<array>
		<string>nil</string>
		<string>NULL</string>
		<string>true</string>
		<string>TRUE</string>
		<string>false</string>
		<string>FALSE</string>
		<string>YES</string>
		<string>yes</string>
		<string>NO</string>
		<string>no</string>
		<string>CurrentRecordPtr</string>
		<string>CurrentRecordLen</string>
		<string>ElapsedTime</string>
	</array>
	<key>Identifiers:Charset</key>
	<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
	<key>OneLineComment:Start</key>
	<string>//</string>
</dict>
</plist>
