build*
.DS_Store
Libraries/libUniversal/libmysqlclient.a
Orca.xcodeproj/*.mode1v3
Orca.xcodeproj/*.pbxuser
Orca.xcodeproj/project.xcworkspace
Orca.xcodeproj/xcuserdata
.svn*
Source/.svn*
PlugIns/.svn*
Orca.xcodeproj/.svn*
Libraries/.svn*
Frameworks/.svn*
English.lproj/.svn*
DerivedData*
