<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>
The run did not start for some reason. Often a hardware exception is the root cause. 

Check the status log for more information. 

Acknowledging this alarm will silence it. 
</string>
</array>
</plist>

