<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>
A VME crate is showing no power or can not be reached.

Possible reasons:
1) No power.
2) No PCI-VME card installed in the Mac.
3) A bad cable.

This alarm will go away when the crate can be reached.

Acknowledging this alarm will silence it. 
</string>
</array>
</plist>

