<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DSPChanParams</key>
	<array>
		<dict>
			<key>address0</key>
			<string>64</string>
			<key>address1</key>
			<integer>112</integer>
			<key>address2</key>
			<integer>160</integer>
			<key>address3</key>
			<integer>208</integer>
			<key>name</key>
			<string>CHANCSRA</string>
			<key>value0</key>
			<string>180</string>
			<key>value1</key>
			<integer>148</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>65</integer>
			<key>address1</key>
			<integer>113</integer>
			<key>address2</key>
			<integer>161</integer>
			<key>address3</key>
			<integer>209</integer>
			<key>name</key>
			<string>CHANCSRB</string>
			<key>value0</key>
			<string>0</string>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>66</integer>
			<key>address1</key>
			<integer>114</integer>
			<key>address2</key>
			<integer>162</integer>
			<key>address3</key>
			<integer>210</integer>
			<key>name</key>
			<string>GAINDAC</string>
			<key>value0</key>
			<integer>39807</integer>
			<key>value1</key>
			<integer>29942</integer>
			<key>value2</key>
			<integer>49671</integer>
			<key>value3</key>
			<integer>49671</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>67</integer>
			<key>address1</key>
			<integer>115</integer>
			<key>address2</key>
			<integer>163</integer>
			<key>address3</key>
			<integer>211</integer>
			<key>name</key>
			<string>TRACKDAC</string>
			<key>value0</key>
			<integer>34183</integer>
			<key>value1</key>
			<integer>31621</integer>
			<key>value2</key>
			<integer>38248</integer>
			<key>value3</key>
			<integer>38127</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>68</integer>
			<key>address1</key>
			<integer>116</integer>
			<key>address2</key>
			<integer>164</integer>
			<key>address3</key>
			<integer>212</integer>
			<key>name</key>
			<string>UNUSEDA</string>
			<key>value0</key>
			<integer>65535</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>72</integer>
			<key>address1</key>
			<integer>120</integer>
			<key>address2</key>
			<integer>168</integer>
			<key>address3</key>
			<integer>216</integer>
			<key>name</key>
			<string>SLOWLENGTH</string>
			<key>value0</key>
			<integer>2</integer>
			<key>value1</key>
			<integer>13</integer>
			<key>value2</key>
			<integer>3</integer>
			<key>value3</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>73</integer>
			<key>address1</key>
			<integer>121</integer>
			<key>address2</key>
			<integer>169</integer>
			<key>address3</key>
			<integer>217</integer>
			<key>name</key>
			<string>SLOWGAP</string>
			<key>value0</key>
			<integer>3</integer>
			<key>value1</key>
			<integer>6</integer>
			<key>value2</key>
			<integer>3</integer>
			<key>value3</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>74</integer>
			<key>address1</key>
			<integer>122</integer>
			<key>address2</key>
			<integer>170</integer>
			<key>address3</key>
			<integer>218</integer>
			<key>name</key>
			<string>FASTLENGTH</string>
			<key>value0</key>
			<integer>30</integer>
			<key>value1</key>
			<integer>4</integer>
			<key>value2</key>
			<integer>4</integer>
			<key>value3</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>75</integer>
			<key>address1</key>
			<integer>123</integer>
			<key>address2</key>
			<integer>171</integer>
			<key>address3</key>
			<integer>219</integer>
			<key>name</key>
			<string>FASTGAP</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>4</integer>
			<key>value2</key>
			<integer>4</integer>
			<key>value3</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>76</integer>
			<key>address1</key>
			<integer>124</integer>
			<key>address2</key>
			<integer>172</integer>
			<key>address3</key>
			<integer>220</integer>
			<key>name</key>
			<string>PEAKSAMPLE</string>
			<key>value0</key>
			<integer>4</integer>
			<key>value1</key>
			<integer>18</integer>
			<key>value2</key>
			<integer>5</integer>
			<key>value3</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>77</integer>
			<key>address1</key>
			<integer>125</integer>
			<key>address2</key>
			<integer>173</integer>
			<key>address3</key>
			<integer>221</integer>
			<key>name</key>
			<string>PEAKSEP</string>
			<key>value0</key>
			<integer>9</integer>
			<key>value1</key>
			<integer>23</integer>
			<key>value2</key>
			<integer>10</integer>
			<key>value3</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>78</integer>
			<key>address1</key>
			<integer>126</integer>
			<key>address2</key>
			<integer>174</integer>
			<key>address3</key>
			<integer>222</integer>
			<key>name</key>
			<string>FASTADCTHR</string>
			<key>value0</key>
			<integer>40</integer>
			<key>value1</key>
			<integer>40</integer>
			<key>value2</key>
			<integer>40</integer>
			<key>value3</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>79</integer>
			<key>address1</key>
			<integer>127</integer>
			<key>address2</key>
			<integer>175</integer>
			<key>address3</key>
			<integer>223</integer>
			<key>name</key>
			<string>FASTTHRESH</string>
			<key>value0</key>
			<integer>2250</integer>
			<key>value1</key>
			<integer>160</integer>
			<key>value2</key>
			<integer>160</integer>
			<key>value3</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>80</integer>
			<key>address1</key>
			<integer>128</integer>
			<key>address2</key>
			<integer>176</integer>
			<key>address3</key>
			<integer>224</integer>
			<key>name</key>
			<string>MINWIDTH</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>81</integer>
			<key>address1</key>
			<integer>129</integer>
			<key>address2</key>
			<integer>177</integer>
			<key>address3</key>
			<integer>225</integer>
			<key>name</key>
			<string>MAXWIDTH</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>82</integer>
			<key>address1</key>
			<integer>130</integer>
			<key>address2</key>
			<integer>178</integer>
			<key>address3</key>
			<integer>226</integer>
			<key>name</key>
			<string>PAFLENGTH</string>
			<key>value0</key>
			<integer>98</integer>
			<key>value1</key>
			<integer>72</integer>
			<key>value2</key>
			<integer>99</integer>
			<key>value3</key>
			<integer>112</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>83</integer>
			<key>address1</key>
			<integer>131</integer>
			<key>address2</key>
			<integer>179</integer>
			<key>address3</key>
			<integer>227</integer>
			<key>name</key>
			<string>TRIGGERDELAY</string>
			<key>value0</key>
			<integer>10</integer>
			<key>value1</key>
			<integer>24</integer>
			<key>value2</key>
			<integer>11</integer>
			<key>value3</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>84</integer>
			<key>address1</key>
			<integer>132</integer>
			<key>address2</key>
			<integer>180</integer>
			<key>address3</key>
			<integer>228</integer>
			<key>name</key>
			<string>RESETDELAY</string>
			<key>value0</key>
			<integer>29</integer>
			<key>value1</key>
			<integer>29</integer>
			<key>value2</key>
			<integer>29</integer>
			<key>value3</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>85</integer>
			<key>address1</key>
			<integer>133</integer>
			<key>address2</key>
			<integer>181</integer>
			<key>address3</key>
			<integer>229</integer>
			<key>name</key>
			<string>FTPWIDTH</string>
			<key>value0</key>
			<integer>4</integer>
			<key>value1</key>
			<integer>4</integer>
			<key>value2</key>
			<integer>4</integer>
			<key>value3</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>86</integer>
			<key>address1</key>
			<integer>134</integer>
			<key>address2</key>
			<integer>182</integer>
			<key>address3</key>
			<integer>230</integer>
			<key>name</key>
			<string>TRACELENGTH</string>
			<key>value0</key>
			<integer>240</integer>
			<key>value1</key>
			<integer>100</integer>
			<key>value2</key>
			<integer>200</integer>
			<key>value3</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>87</integer>
			<key>address1</key>
			<integer>135</integer>
			<key>address2</key>
			<integer>183</integer>
			<key>address3</key>
			<integer>231</integer>
			<key>name</key>
			<string>XWAIT</string>
			<key>value0</key>
			<integer>8</integer>
			<key>value1</key>
			<integer>523</integer>
			<key>value2</key>
			<integer>4</integer>
			<key>value3</key>
			<integer>803</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>88</integer>
			<key>address1</key>
			<integer>136</integer>
			<key>address2</key>
			<integer>184</integer>
			<key>address3</key>
			<integer>232</integer>
			<key>name</key>
			<string>ENERGYLOW</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>89</integer>
			<key>address1</key>
			<integer>137</integer>
			<key>address2</key>
			<integer>185</integer>
			<key>address3</key>
			<integer>233</integer>
			<key>name</key>
			<string>LOG2EBIN</string>
			<key>value0</key>
			<integer>65531</integer>
			<key>value1</key>
			<integer>65534</integer>
			<key>value2</key>
			<integer>65535</integer>
			<key>value3</key>
			<integer>65535</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>90</integer>
			<key>address1</key>
			<integer>138</integer>
			<key>address2</key>
			<integer>186</integer>
			<key>address3</key>
			<integer>234</integer>
			<key>name</key>
			<string>CFDTHR</string>
			<key>value0</key>
			<integer>9830</integer>
			<key>value1</key>
			<integer>9830</integer>
			<key>value2</key>
			<integer>9830</integer>
			<key>value3</key>
			<integer>9830</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>91</integer>
			<key>address1</key>
			<integer>139</integer>
			<key>address2</key>
			<integer>187</integer>
			<key>address3</key>
			<integer>235</integer>
			<key>name</key>
			<string>PSAOFFSET</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>1</integer>
			<key>value3</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>92</integer>
			<key>address1</key>
			<integer>140</integer>
			<key>address2</key>
			<integer>188</integer>
			<key>address3</key>
			<integer>236</integer>
			<key>name</key>
			<string>PSALENGTH</string>
			<key>value0</key>
			<integer>120</integer>
			<key>value1</key>
			<integer>100</integer>
			<key>value2</key>
			<integer>198</integer>
			<key>value3</key>
			<integer>198</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>93</integer>
			<key>address1</key>
			<integer>141</integer>
			<key>address2</key>
			<integer>189</integer>
			<key>address3</key>
			<integer>237</integer>
			<key>name</key>
			<string>INTEGRATOR</string>
			<key>value0</key>
			<integer>1</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>94</integer>
			<key>address1</key>
			<integer>142</integer>
			<key>address2</key>
			<integer>190</integer>
			<key>address3</key>
			<integer>238</integer>
			<key>name</key>
			<string>BLCUT</string>
			<key>value0</key>
			<integer>1471</integer>
			<key>value1</key>
			<integer>477</integer>
			<key>value2</key>
			<integer>382</integer>
			<key>value3</key>
			<integer>243</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>95</integer>
			<key>address1</key>
			<integer>143</integer>
			<key>address2</key>
			<integer>191</integer>
			<key>address3</key>
			<integer>239</integer>
			<key>name</key>
			<string>BASELINEPERCENT</string>
			<key>value0</key>
			<integer>10</integer>
			<key>value1</key>
			<integer>10</integer>
			<key>value2</key>
			<integer>10</integer>
			<key>value3</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>96</integer>
			<key>address1</key>
			<integer>144</integer>
			<key>address2</key>
			<integer>192</integer>
			<key>address3</key>
			<integer>240</integer>
			<key>name</key>
			<string>UNUSEDB</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>108</integer>
			<key>address1</key>
			<integer>156</integer>
			<key>address2</key>
			<integer>204</integer>
			<key>address3</key>
			<integer>252</integer>
			<key>name</key>
			<string>CFDREG</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>109</integer>
			<key>address1</key>
			<integer>157</integer>
			<key>address2</key>
			<integer>205</integer>
			<key>address3</key>
			<integer>253</integer>
			<key>name</key>
			<string>LOG2BWEIGHT</string>
			<key>value0</key>
			<integer>65533</integer>
			<key>value1</key>
			<integer>65533</integer>
			<key>value2</key>
			<integer>65533</integer>
			<key>value3</key>
			<integer>65533</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>110</integer>
			<key>address1</key>
			<integer>158</integer>
			<key>address2</key>
			<integer>206</integer>
			<key>address3</key>
			<integer>254</integer>
			<key>name</key>
			<string>PREAMPTAUA</string>
			<key>value0</key>
			<integer>40</integer>
			<key>value1</key>
			<integer>56</integer>
			<key>value2</key>
			<integer>47</integer>
			<key>value3</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>111</integer>
			<key>address1</key>
			<integer>159</integer>
			<key>address2</key>
			<integer>207</integer>
			<key>address3</key>
			<integer>255</integer>
			<key>name</key>
			<string>PREAMPTAUB</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>17501</integer>
			<key>value2</key>
			<integer>13107</integer>
			<key>value3</key>
			<integer>13107</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>319</integer>
			<key>address1</key>
			<integer>343</integer>
			<key>address2</key>
			<integer>367</integer>
			<key>address3</key>
			<integer>391</integer>
			<key>name</key>
			<string>LIVETIMEA</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>320</integer>
			<key>address1</key>
			<integer>344</integer>
			<key>address2</key>
			<integer>368</integer>
			<key>address3</key>
			<integer>392</integer>
			<key>name</key>
			<string>LIVETIMEB</string>
			<key>value0</key>
			<integer>44373</integer>
			<key>value1</key>
			<integer>44848</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>321</integer>
			<key>address1</key>
			<integer>345</integer>
			<key>address2</key>
			<integer>369</integer>
			<key>address3</key>
			<integer>393</integer>
			<key>name</key>
			<string>LIVETIMEC</string>
			<key>value0</key>
			<integer>30066</integer>
			<key>value1</key>
			<integer>17147</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>322</integer>
			<key>address1</key>
			<integer>346</integer>
			<key>address2</key>
			<integer>370</integer>
			<key>address3</key>
			<integer>394</integer>
			<key>name</key>
			<string>FASTPEAKSA</string>
			<key>value0</key>
			<integer>32</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>323</integer>
			<key>address1</key>
			<integer>347</integer>
			<key>address2</key>
			<integer>371</integer>
			<key>address3</key>
			<integer>395</integer>
			<key>name</key>
			<string>FASTPEAKSB</string>
			<key>value0</key>
			<integer>61021</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>324</integer>
			<key>address1</key>
			<integer>348</integer>
			<key>address2</key>
			<integer>372</integer>
			<key>address3</key>
			<integer>396</integer>
			<key>name</key>
			<string>OVERFLOWA</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>325</integer>
			<key>address1</key>
			<integer>349</integer>
			<key>address2</key>
			<integer>373</integer>
			<key>address3</key>
			<integer>397</integer>
			<key>name</key>
			<string>OVERFLOWB</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>326</integer>
			<key>address1</key>
			<integer>350</integer>
			<key>address2</key>
			<integer>374</integer>
			<key>address3</key>
			<integer>398</integer>
			<key>name</key>
			<string>INSPECA</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>327</integer>
			<key>address1</key>
			<integer>351</integer>
			<key>address2</key>
			<integer>375</integer>
			<key>address3</key>
			<integer>399</integer>
			<key>name</key>
			<string>INSPECB</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>328</integer>
			<key>address1</key>
			<integer>352</integer>
			<key>address2</key>
			<integer>376</integer>
			<key>address3</key>
			<integer>400</integer>
			<key>name</key>
			<string>UNDERFLOWA</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>329</integer>
			<key>address1</key>
			<integer>353</integer>
			<key>address2</key>
			<integer>377</integer>
			<key>address3</key>
			<integer>401</integer>
			<key>name</key>
			<string>UNDERFLOWB</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>330</integer>
			<key>address1</key>
			<integer>354</integer>
			<key>address2</key>
			<integer>378</integer>
			<key>address3</key>
			<integer>402</integer>
			<key>name</key>
			<string>ADCPERDACA</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>331</integer>
			<key>address1</key>
			<integer>355</integer>
			<key>address2</key>
			<integer>379</integer>
			<key>address3</key>
			<integer>403</integer>
			<key>name</key>
			<string>ADCPERDACB</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address0</key>
			<integer>332</integer>
			<key>address1</key>
			<integer>356</integer>
			<key>address2</key>
			<integer>380</integer>
			<key>address3</key>
			<integer>404</integer>
			<key>name</key>
			<string>UNUSEDC</string>
			<key>value0</key>
			<integer>0</integer>
			<key>value1</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>DSPParams</key>
	<array>
		<dict>
			<key>address</key>
			<integer>0</integer>
			<key>name</key>
			<string>MODNUM</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>address</key>
			<integer>1</integer>
			<key>name</key>
			<string>MODCSRA</string>
			<key>value</key>
			<integer>9216</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>2</integer>
			<key>name</key>
			<string>MODCSRB</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>3</integer>
			<key>name</key>
			<string>MODFORMAT</string>
			<key>value</key>
			<integer>256</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>4</integer>
			<key>name</key>
			<string>SUMDAC</string>
			<key>value</key>
			<integer>65535</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>5</integer>
			<key>name</key>
			<string>RUNTASK</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>6</integer>
			<key>name</key>
			<string>CONTROLTASK</string>
			<key>value</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>7</integer>
			<key>name</key>
			<string>MAXEVENTS</string>
			<key>value</key>
			<integer>389</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>8</integer>
			<key>name</key>
			<string>COINCPATTERN</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>9</integer>
			<key>name</key>
			<string>COINCWAIT</string>
			<key>value</key>
			<integer>224</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>10</integer>
			<key>name</key>
			<string>SYNCHWAIT</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>11</integer>
			<key>name</key>
			<string>INSYNCH</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>12</integer>
			<key>name</key>
			<string>HOSTIO</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>16</integer>
			<key>name</key>
			<string>U00</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>47</integer>
			<key>name</key>
			<string>XDATLENGTH</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>48</integer>
			<key>name</key>
			<string>USERIN</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>256</integer>
			<key>name</key>
			<string>DECIMATION</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>257</integer>
			<key>name</key>
			<string>REALTIMEA</string>
			<key>value</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>258</integer>
			<key>name</key>
			<string>REALTIMEB</string>
			<key>value</key>
			<integer>46088</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>259</integer>
			<key>name</key>
			<string>REALTIMEC</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>260</integer>
			<key>name</key>
			<string>RUNTIMEA</string>
			<key>value</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>261</integer>
			<key>name</key>
			<string>RUNTIMEB</string>
			<key>value</key>
			<integer>21434</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>262</integer>
			<key>name</key>
			<string>RUNTIMEC</string>
			<key>value</key>
			<integer>33096</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>263</integer>
			<key>name</key>
			<string>GSLTTIMEA</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>264</integer>
			<key>name</key>
			<string>GSLTTIMEB</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>265</integer>
			<key>name</key>
			<string>GSLTTIMEC</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>266</integer>
			<key>name</key>
			<string>NUMEVENTSA</string>
			<key>value</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>267</integer>
			<key>name</key>
			<string>NUMEVENTSB</string>
			<key>value</key>
			<integer>44419</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>268</integer>
			<key>name</key>
			<string>DSPERROR</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>269</integer>
			<key>name</key>
			<string>SYNCHDONE</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>270</integer>
			<key>name</key>
			<string>TEMPERATURE</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>271</integer>
			<key>name</key>
			<string>BUFHEADLEN</string>
			<key>value</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>272</integer>
			<key>name</key>
			<string>EVENTHEADLEN</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>273</integer>
			<key>name</key>
			<string>CHANHEADLEN</string>
			<key>value</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>274</integer>
			<key>name</key>
			<string>U14</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>288</integer>
			<key>name</key>
			<string>USEROUT</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>304</integer>
			<key>name</key>
			<string>AOUTBUFFER</string>
			<key>value</key>
			<integer>20476</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>305</integer>
			<key>name</key>
			<string>LOUTBUFFER</string>
			<key>value</key>
			<integer>8192</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>306</integer>
			<key>name</key>
			<string>AECORR</string>
			<key>value</key>
			<integer>17612</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>307</integer>
			<key>name</key>
			<string>LECORR</string>
			<key>value</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>308</integer>
			<key>name</key>
			<string>ATCORR</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>309</integer>
			<key>name</key>
			<string>LTCORR</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>310</integer>
			<key>name</key>
			<string>HARDWAREID</string>
			<key>value</key>
			<integer>1284</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>311</integer>
			<key>name</key>
			<string>HARDVARIANT</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>312</integer>
			<key>name</key>
			<string>FIFOLENGTH</string>
			<key>value</key>
			<integer>4096</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>313</integer>
			<key>name</key>
			<string>FIPPIID</string>
			<key>value</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>314</integer>
			<key>name</key>
			<string>FIPPIVARIANT</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>315</integer>
			<key>name</key>
			<string>INTRFCID</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>316</integer>
			<key>name</key>
			<string>INTRFCVARIANT</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>317</integer>
			<key>name</key>
			<string>DSPRELEASE</string>
			<key>value</key>
			<integer>771</integer>
		</dict>
		<dict>
			<key>address</key>
			<integer>318</integer>
			<key>name</key>
			<string>DSPBUILD</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
