<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultItems</key>
	<array>
		<string>LogLin</string>
		<string>Clear</string>
		<string>Analyze</string>
		<string>NSToolbarPrintItem</string>
		<string>SaveToFolder</string>
		<string>NSToolbarFlexibleSpaceItem</string>
		<string>NSToolbarCustomizeToolbarItem</string>
	</array>
	<key>Items</key>
	<dict>
		<key>Calibrate</key>
		<dict>
			<key>Action</key>
			<string>calibrate:</string>
			<key>Label</key>
			<string>Calibrate</string>
			<key>ToolTip</key>
			<string>Energy Calibration</string>
		</dict>
		<key>LogLin</key>
		<dict>
			<key>Action</key>
			<string>logLin:</string>
			<key>Label</key>
			<string>Log/Lin</string>
			<key>ToolTip</key>
			<string>Toggle Log/Lin</string>
		</dict>
		<key>Clear</key>
		<dict>
			<key>Action</key>
			<string>clear:</string>
			<key>Label</key>
			<string>Clear</string>
			<key>ToolTip</key>
			<string>Clear Histogram</string>
		</dict>
		<key>Analyze</key>
		<dict>
			<key>Action</key>
			<string>doAnalysis:</string>
			<key>Label</key>
			<string>Analyze</string>
			<key>ToolTip</key>
			<string>Analyze ROI</string>
		</dict>
		<key>NSToolbarPrintItem</key>
		<dict/>
		<key>SaveToFolder</key>
		<dict>
			<key>Action</key>
			<string>writeToFile:</string>
			<key>Label</key>
			<string>Save CSV</string>
			<key>ToolTip</key>
			<string>Save as CSV File</string>
		</dict>
	</dict>
</dict>
</plist>
