<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockComment:End</key>
	<string>*/</string>
	<key>BlockComment:Start</key>
	<string>/*</string>
	<key>Identifiers1</key>
	<array>
		<string>return</string>
		<string>exit</string>
		<string>else</string>
		<string>if</string>
		<string>do</string>
		<string>while</string>
		<string>for</string>
		<string>break</string>
		<string>continue</string>
		<string>switch</string>
		<string>case</string>
		<string>default</string>
		<string>unless</string>
		<string>array</string>
		<string>try</string>
		<string>catch</string>
		<string>finally</string>
		<string>throw</string>
        <string>in</string>
        <string>global</string>
	</array>
	<key>Identifiers2</key>
	<array>
		<string>function</string>
		<string>find</string>
		<string>make</string>
		<string>waituntil</string>
		<string>waitUntil</string>
		<string>sleep</string>
		<string>yield</string>
		<string>print</string>
		<string>printfile</string>
		<string>display</string>
		<string>sci</string>
		<string>fixed</string>
		<string>hex</string>
		<string>logfile</string>
		<string>string</string>
		<string>@</string>
		<string>strcat</string>
		<string>nsdictionary</string>
		<string>nsarray</string>
		<string>nsexception</string>
		<string>point</string>
		<string>rect</string>
		<string>pointx</string>
		<string>pointy</string>
		<string>rectx</string>
		<string>recty</string>
		<string>rectw</string>
		<string>recth</string>
		<string>rangeloc</string>
		<string>rangelen</string>
		<string>stringFromFile</string>
		<string>stringfromfile</string>
		<string>nsfilemanager</string>
		<string>writeLine</string>
		<string>deleteFile</string>
		<string>postalarm</string>
		<string>postAlarm</string>
		<string>clearalarm</string>
		<string>clearAlarm</string>
		<string>time</string>
		<string>shell</string>
		<string>confirm</string>
		<string>request</string>
		<string>show</string>
		<string>seedRandom</string>
		<string>random</string>
		<string>sort</string>
		<string>sortRev</string>
	</array>
	<key>Constants</key>
	<array>
		<string>nil</string>
		<string>NULL</string>
		<string>true</string>
		<string>TRUE</string>
		<string>false</string>
		<string>FALSE</string>
		<string>YES</string>
		<string>yes</string>
		<string>NO</string>
		<string>no</string>
	</array>
	<key>Identifiers:Charset</key>
	<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
	<key>OneLineComment:Start</key>
	<string>//</string>
</dict>
</plist>
