<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>
The configuration has one of the PCI->CAMAC/Mac cards, but a hardware check finds no 
such card installed in the Mac. 

Installing the correct PCI->CAMAC card in the mac or modifying the configuration to match the physical hardware will make this alarm go away.

Acknowledging this alarm will silence it. 
</string>
</array>
</plist>

